<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>GC Girls - StockController</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/images/GC-logo.png" alt="logo" width="160" height="93"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/allStores">Lojas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/allCategories">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="/allProducts">Produtos</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <main>
        <div class="container-fluid">
            <div class="card mt-4">
                <div class="card-header">
                    <h4 class="card-title"> Produtos cadastrados</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Aqui você encontra uma tabela com todas os produtos cadastrados no sistema.
                        Caso
                        precise adicionar um novo produto acesse a loja a qual você deseja incluir o novo produto.</p>
                    <a href="/allStores" class="btn btn-success">Ver lojas</a>
                    <hr />
                    <div class="col-8 m-auto pt-4 pb-2 text-center">
                        <h5>Lista de todos os produtos cadastrados</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Loja</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dbp in db %}
                                <tr>
                                    <td>{{ dbp.id }}</td>
                                    <td>{{ dbp.nome }}</td>
                                    <td>{{ dbp.categoria }}</td>
                                    <td>{{ dbp.lojaPertencente }}</td>
                                    <td>{{ dbp.descricao }}</td>
                                    <td>{{ dbp.quantidade }}</td>
                                    <td>
                                        <a href="/viewProducts/{{ dbp.id }}/" class="btn btn-dark">Visualizar</a>
                                        <a href="/editProducts/{{ dbp.id }}/" class="btn btn-primary">Editar</a>
                                        <a href="/deleteProducts/{{ dbp.id }}/"
                                            class="btn btn-danger btnDel">Deletar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            {% load static %}
            <script src="{% static 'script.js' %}"></script>
        </div>
    </main>
</body>

</html>