<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Cadastrar Categoria</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
        <div class="col-8 m-auto pt-2 pb-2 text-center">
            <h1>Cadastrar ou Atualizar categoria</h1>
        </div>

        <div class="col-8 m-auto pt-3 pb-2 text-center">
            <a href="" class="btn btn-success">Voltar</a>
        </div>

        <div class="col-8 m-auto pt-4 pb-2 text-center">
            <form name="form" id="form" action="{% if dbc %}/updateCategories/{{ dbc.id }}/{% else %}/createCategories/{% endif %}" method="post">
                {% csrf_token %}
                <div class="form-group mt-4">Loja Pertendente: {{ formCategories.lojaPertencente }}</div>
                <div class="form-group mt-4">Nome: {{ formCategories.nome }}</div>
                <input type="submit" class="btn btn-success" value="Salvar">
            </form>
        </div>
    </body>
</html>