{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastrar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="icon" href="../static/favicon.ico" >
</head>

<body class="body-cadastro">
    <nav class="navbar navbar-expand-lg navbar-light bg-nav ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/images/GC-logo.png" alt="logo" width="160" height="93"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="allStores/">Lojas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="allCategories/">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="allProducts/">Produtos</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="pesquisar" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Pesquisar</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="row d-flex justify-content-center align-self-center text-black">
        <div class="col-md-4"></div>
        <div class="col-md-4 bg-box mt-5 mb-5 pb-5" style="padding-top: 124px">
            <h1 class="text-center mb-3 mt-3 pd-entrar">Cadastro</h1>

            <div class="col-8 m-auto pt-4 pb-2 text-center">
                <form name="form" id="form" action="{% if db %}/update/{{ db.id }}/{% else %}/create/{% endif %}"
                    method="post">
                    {% csrf_token %}
                    
                    <div class="form-group pd-laterais">
                    <p>CNPJ:</p>
                    <label>{{ form.cnpj }}</label>
                    </div>

                    <div class="form-group pd-laterais">
                    <p>Nome da Loja:</p>
                    <label>{{ form.nome }}</label></div>

                    <div class="form-group pd-laterais">
                    <p>Data de Fundação:</p>
                    <label>{{ form.dataFundacao }}</label>
                    </div>
                    
                    <div class="d-flex justify-content-center mt-5 mb-2">
                        <input type="submit" class="btn btn-success font-weight-bold text-center mt-3" value="Salvar">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    </div>
    </div>
</body>

</html>