<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>GC Girls - StockController</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">GC Girls - StockController</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="allStores/">Lojas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="allCategories/">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="allProducts/">Produtos</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <main>
            <div class="container-xxl py-4">
                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Aqui você pode</h1>
                        <p class="col-md-8 fs-4">controlar seu estoque de forma rápida e direta. Com poucos passos seu
                            estoque fica organizado e ao alcance de suas mãos.</p>
                        <button class="btn btn-primary btn-lg" type="button">Comece agora</button>
                    </div>
                </div>

                <div class="row align-items-md-stretch">
                    <div class="col-md-6">
                        <div class="h-100 p-5 text-white bg-dark rounded-3">
                            <h2>Conheça nossos serviços</h2>
                            <p>Aqui você tem acesso a nossa documentação descrevendo cada funcionalidade.</p>
                            <button class="btn btn-outline-light" type="button">Leia agora</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <h2>Breve história</h2>
                            <p>A GC Girls - StockController surgiu como trabalho de conclusão de curso do programa de
                                aceleração em GCP do Luizalabs em parceria com a Gama Academy.</p>
                            <button class="btn btn-outline-secondary" type="button">Saiba mais</button>
                        </div>
                    </div>

                    <div class="p-5 mb-4 bg-light rounded-3 mt-4">
                        <div class="container-fluid py-5">
                            <h1 class="display-5 fw-bold">Desenvolvedoras</h1>
                            <p class="col-md-8 fs-4">Quem faz a GC Girls - StockController acontecer:</p>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card">
                                        <img src="../static/images/AnaVeronica.jpg" class="card-img-top"
                                            alt="Ana Veronica">
                                        <div class="card-body">
                                            <h5 class="card-title">Ana Verônica</h5>
                                            <p class="card-text">Desenvolvedora fullstack, com experiência em Java como
                                                linguagem de backend.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card">
                                        <img src="../static/images/rach.jpg" class="card-img-top" alt="Ana Veronica">
                                        <div class="card-body">
                                            <h5 class="card-title">Rachel Carvalho</h5>
                                            <p class="card-text">Desenvolvedora fullstack, com experiência em Java como
                                                linguagem de
                                                backend.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <footer class="pt-3 mt-4 text-muted border-top">
                    &copy; GC Girls - StockController - 2021
                </footer>
            </div>
        </main>
        {% load static %}
        <script src="{% static 'script.js' %}"></script>
    </div>
</body>

</html>