{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>GC Girls - StockController</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>

<body class="body-view">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="../static/images/GC-logo.png" alt="logo" width="160"
                    height="93"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/allStores/">Lojas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/allCategories">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/allProducts">Produtos</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <main>
        <div class="container-fluid mt-4">
            <div class="card">
                <h5 class="card-header">Dados da loja</h5>
                <div class="card-body">
                    <p class="card-text"><strong>Razão social: </strong>{{ db.nome }}</p>
                    <p class="card-text"><strong>CNPJ: </strong>{{ db.cnpj }}</p>
                    <p class="card-text"><strong><strong>Data de Fundação: </strong>{{ db.dataFundacao }}</p>
                </div>
            </div>
            <div class="card mt-4">
                <h5 class="card-header">Categorias da loja {{db.nome}}</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Loja</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dbi in dbc %}
                            <tr>
                                <td>{{ dbi.id }}</td>
                                <td>{{ dbi.nome }}</td>
                                <td>{{ dbi.lojaPertencente }}</td>
                                <td>
                                    <a href="/viewCategories/{{ dbi.id }}/" class="btn btn-dark">Visualizar</a>
                                    <a href="/editCategories/{{ dbi.id }}/" class="btn btn-primary">Editar</a>
                                    <a href="/deleteCategories/{{ dbi.id }}/"
                                        class="btn btn-danger btnDelProd">Deletar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid mt-1 mb-2">
                    <a href="/formCategories/{{db.id}}" class="btn btn-success">Adicionar Nova Categoria</a>
                </div>
            </div>

            <div class="card mt-4">
                <h5 class="card-header">Produtos da loja {{db.nome}}</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dbi in dbp %}
                            <tr>
                                <td>{{ dbi.id }}</td>
                                <td>{{ dbi.nome }}</td>
                                <td>{{ dbi.categoria }}</td>
                                <td>{{ dbi.quantidade }}</td>
                                <td>
                                    <a href="/viewProducts/{{ dbi.id }}/" class="btn btn-dark">Visualizar</a>
                                    <a href="/editProducts/{{ dbi.id }}/" class="btn btn-primary">Editar</a>
                                    <a href="/deleteProducts/{{ dbi.id }}/"
                                        class="btn btn-danger btnDelProd">Deletar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid mt-1 mb-2">
                    <a href="/formProducts/{{ db.id }}/" class="btn btn-success">Adicionar Novo Produto</a>
                </div>
            </div>
        </div>
        </div>
    </main>
    {% load static %}
    <script src="{% static 'script.js' %}"></script>

</body>

</html>